#app {
    margin: auto;
    width: 50%;
}

#app .input-block {
    margin-top: 30px;
    background-color: #FFF;
    padding: 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
}

#app form .input-block label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#app form .input-block input {
    font-size: 14px;
    height: 32px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #EEE;
}

#app form .input-block button[type=submit] {
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transition: background 0.5s;
}

#app form .input-block button[type=submit]:hover {
    background-color: #272727;
}