#app {
    margin: auto;
    width: 50%;
}

#app .input-block {
    margin-top: 30px;
    background-color: #FFF;
    padding: 30px;
    width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

#app .input-block .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEE;
}

#app .input-block .header select {
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #EEE;
    color: #666;
}

#app .input-block label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#app .input-block .input-group {
    display: flex;
    flex-direction: row;
}

#app .input-block .input-group input {
    font-size: 14px;
    height: 32px;
    width: 100%;
    color: #666;
    border: 0;
    border-bottom: 1px solid #EEE;
}

#app .input-block select {
    margin-left: 10px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #EEE;
}

#app .input-block button[type=submit] {
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transition: background 0.5s;
}

#app .input-block button[type=submit]:hover {
    background-color: #272727;
}