#app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#app .welcome-message {
    font-size: 30px;
    text-align: center;
}

#app .welcome-message p {
    font-size: 15px;
    text-align: center;
    width: 500px;
}

#app .input-block {
    margin-top: 10px;
    background-color: #FFF;
    padding: 30px;
    width: 60%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

#app .input-block .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #EEE;
}

#app .input-block .header select {
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid #EEE;
    color: #666;
}

#app .input-block label {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

#app .input-block .input-group {
    display: flex;
    flex-direction: row;
}

@media (max-width: 950px) {
    #app .welcome-message p {
        width: 320px;
    }

    #app .input-block {
        width: 320px;
    }

    #app .input-block .input-group {
        display: flex;
        flex-direction: column;
    }

    #app .pagination {
        width: 100%;
    }
}

#app .input-block .input-group input {
    font-size: 14px;
    height: 32px;
    width: 100%;
    color: #666;
    border: 0;
    border-bottom: 1px solid #EEE;
}

#app .input-block select {
    margin-left: 10px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #EEE;
}

#app .input-block button[type=submit] {
    margin-top: 10px;
    border: 0;
    border-radius: 2px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transition: background 0.5s;
}

#app .input-block button[type=submit]:hover {
    background-color: #272727;
}

#app .pagination {
    margin: 20px 0 50px 0;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
}

#app .pagination .pagination-item {
    padding: 15px;
    margin: 0;
}

#app .pagination .active {
    background-color: #000;
    color: #FFF;
}

#app .pagination .active:hover {
    background-color: #000;
}

#app .pagination .active a {
    color: #FFF;
}

#app .pagination li {
    margin-bottom: 0;
    border: 0;
    border-right: 1px solid #CCC;
}

#app .pagination .pagination-last-item {
    border: 0;
}

#app .pagination li:hover {
    background-color: #EEE;
    cursor: pointer;
}

#app .pagination li a {
    text-decoration: none;
    color: #000;
}